DRGNU_BASE_URL=https://aidrgnu.com/
DRGNU_API_KEY=replace-with-server-api-key
DRGNU_DEVICE_ID=jetson-nano-dev-001
DRGNU_SESSION_ID=test_user_001
DRGNU_WAKE_MODE=keyboard
DRGNU_RECORD_SECONDS=7
DRGNU_SAMPLE_RATE=16000
DRGNU_CHANNELS=1
DRGNU_TTS_COMMAND=spd-say
DRGNU_PTT_GPIO_PIN=
DRGNU_LED_GPIO_PIN=

